a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-display: swap;
  color: var(--text);
  background-color: var(--bg);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 600;
  line-height: 1.2;
}

p {
  margin: 0;
  line-height: 1.5;
  color: var(--text-light);
  font-size: 1rem;
  margin-bottom: 10px;
}


button {
  margin: 0;
  line-height: 1.5;
  color: var(--text-light);
  font-size: 0.8rem;
  font-family: var(--font-main);
}

h1 {
  font-size: 2.5rem;
  color: var(--primary);
  margin-bottom: 12px;
}

h2 {
  font-size: 2rem;
  color: var(--primary);
  margin-bottom: 12px;     
}

h3 {
  font-size: 1.5rem;
  color: var(--text);
  margin-bottom: 12px;   
}

h4 {
  font-size: 1.2rem;
  color: var(--text);
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.875rem;
}
