:root {
  --primary: #1FA89A;  
  --primary-light: #4FD6C8; 
  --primary-dark: #0F6F66;

  --accent: #D81B60;
  --accent-hover: #B0124E;

  --bg: #FFFFFF;
  --bg-soft: #F7F7F7;

  --text: #333333;
  --text-light: #777777;
  
}
