.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.title, .titleEmpty {
  margin-bottom: 20px;
}
.titleEmpty, .textEmpty {
  margin-left: 10px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 12px;
  border-radius: 8px;
  background-color: var(--bg);
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.itemTitle {
  font-size: 0.9rem;
  margin: 0;
}

.controls {
  display: flex;
  align-items: center;
  gap: 8px;
}

.controls button {
  padding: 4px 8px;
  cursor: pointer;
}

.controls button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.price {
  font-weight: bold;
  color: var(--accent);
  margin: 0;
}

.delete {
  background: none;
  border: none;
  color: red;
  font-size: 16px;
  cursor: pointer;
}
.summary {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 768px) {
  .summary{
    flex-direction: column;
    gap: 10px;
  }  
}

.clear {
  background-color: var(--primary);
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
}

.purchase {
  background-color: var(--accent);
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
}

.breadcrumb {
  font-size: 0.8rem;
  color: var(--text-light);
  text-decoration: none;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 10px;
}

.breadcrumb:hover {
  color: var(--primary);
}

.button {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background: white;
  font-size: 14px;
  cursor: pointer;
}