.sectionContainer {
  margin-bottom: 10px;
}

.categoryTitle {
  margin-left: 10px;
  margin-top: 25px;
  margin-bottom: 15px;
}

@media (min-width: 768px) {
.sectionContainer {
  margin-left: 15px;
}
}