.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
  margin-bottom: 25px;
}

.categoryTitle {
  margin-left: 10px;
}

.breadcrumb {
  font-size: 0.8rem;
  color: var(--text-light);
  text-decoration: none;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 10px;
}

.breadcrumb:hover {
  color: var(--primary);
}