.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 320px));
  gap: 20px;
}

@media (max-width: 768px) {
.grid {
    grid-template-columns: 1fr;
    justify-items: center;
    padding: 0 10px;
  }
}